<nz-table #basicTable [nzData]="dataSet">
  <thead>
    <tr>
        <th class="th">Nom</th>
        <th class="th">Secteur</th>
        <th class="th">Nom du représentant</th>
        <th class="th">Nombre de co-fondateurs</th>
        <th class="th">Description</th>
        <th class="th">Adresse</th>
        <th class="th">Modifier</th>
        <th class="th">Supprimer</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <ng-content select=".td"></ng-content>
    </tr>
  </tbody>
</nz-table>
