<p>
  startup works!
</p>

<button>Ajouter</button>

<!--<form [formGroup]="startupForm">
    <div>
      <label>Nom</label><input formControlName="nom" ngModel>
    </div>
    <div>
        <label>Secteur</label><input formControlName="secteur" ngModel>
      </div>
    <div>
      <label>Nom du représentant</label><input formControlName="nomDurepresentant" ngModel>
    </div>
    <div>
      <label>Nombre de co-fondateurs</label><input formControlName="cofounder" ngModel>
    </div>
    <div>
      <label>Description*</label><textarea col="50" row="5" formControlName="description" ngModel>
    </div> 
    <div>
      <label>Adresse</label><input formControlName="adresse" ngModel>
    </div>
    
    <button type="submit" [disabled]="startupForm.invalid">Enregistrer</button>
    <button type="button" >Annuler</button>
  </form>-->
  
  <app-loop-startup [tableauStartups] = "tableauStartup"></app-loop-startup>