<app-ns-table>
        <td class="td">{{ startup.nom }}</td>
        <td class="td">{{ startup.secteur }}</td>
        <td class="td">{{ startup.nomRepresentant }}</td>
        <td class="td">{{ startup.nb_cofounder | pipeFounder}}</td> <!--| pipeFounder-->
        <td class="td">{{ startup.description }}</td>
        <td class="td" *ngIf="startup.adresse; else noAdresse">Oui</td>
        <ng-template #noAdresse><td class="td">Non</td></ng-template>

        <td class="td"><button>Modifier</button></td>
        <td class="td"><button (click)="delete(startup)">Supprimer</button></td>
</app-ns-table>
